.App {
  width: 100%;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  background-color: hwb(184 93% 1%);
  font-family: Arial, Helvetica, sans-serif;
}

button:hover {
  cursor: pointer;
}

/*The main container of all 3 sections of the navbar*/

.Navbar {
  width: 100%;
  height: 10%;
  display: flex;
  position: relative;
  background-color: rgb(185, 214, 228);
}

/*The center container inside the navbar*/
.Navbar .NavCenter {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavCenter input {
  width: 220px;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 15px;
}

.NavCenter button {
  height: 32px;
  width: 70px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

/*The left and right containers inside the navbar*/
.Navbar .NavLeft, .NavRight {
  flex: 25%;
  display: flex;
  align-items: center;
}

    /*When left side menu is closed, dont show the links but keep the button on the left*/
    .Navbar #leftDefault {
      justify-content: left;
    }

    /*When right side menu is closed, dont show the links but keep the button on the right*/
    .Navbar #rightDefault {
      justify-content: right;
    }

    /*To hide the links when menus are closed*/
    .Navbar #leftDefault a, #rightDefault a {
      display: none;
    }

    /*When side menus are open, the hidden links and the button are shown*/
    .Navbar #leftHidden, #rightHidden {
      background-color: #5194b3;
      flex-direction: column;
      height: 100vh;
    }

    /*Styles for the links when they ARE shown*/
    .Navbar #leftHidden a, #rightHidden a {
      text-decoration: none;
      color: white;
      font-size: 25px;
    }


/*To be messed with later when making it responsive*/
@media only screen and (max-width: 850px) {
  .Navbar .NavLeft a {
    font-size: 20px;
  }
}

@media only screen and (max-width: 750px) {
  .Navbar .NavLeft a {
    font-size: 15px;
  }
}


/*Home page styles*/
.HomePageContainer {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Welcome {
  text-align: center;
}

.Welcome h1 {
  font-size: 5em;
}

.Welcome p {
  font-size: 2em;
}

.People {
  display: flex;
  padding: 4em;
  justify-content: space-between;
}

.People .person_images {
  width: 30%;
}

.People .person_images p{
  text-align: center;
  font-size: 2em;
}

.People .person_images img {
  width: 100%;
  border-radius: 50%;
}

.assets_list_container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.assets_list_item {
  display: flex;
  flex-direction: row;
  background-color: #5194b3;
  width: 70%;
  margin-bottom: 2%;
  border-radius: 10px;
  padding: 2%;
}

.assets_name, .assets_value {
  width: 50%;
}

.assets_value {
  display: flex;
  justify-content: right;
}